/*@@author kev-intq-reused
//Reused from https://gist.github.com/maxd/63691840fc372f22f470
// with minor modifications
*/
.titled-pane
{    
    -fx-padding: 5 5 5 5;
    
}

.titled-pane > .title > .text
{
    -fx-fill: BLACK;
}

.titled-pane:focused 
{
    -fx-text-fill: rgb(0, 0, 0);
}
    .titled-pane > .title 
{
    -fx-background-color:  #ff7d26;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 20 20 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
    -fx-opacity: 0.95;
}

.titled-pane:focused > .title 
{
    /*-fx-color: -fx-focus-color;*/
}

.titled-pane:collapsed > .title 
{
    /*-fx-color: -fx-focus-color;*/
    -fx-background-radius: 20;
}

.titled-pane > .title > .arrow-button 
{
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow 
{
    -fx-background-color: rgb(0, 0, 0);
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
}

.titled-pane:collapsed > .title > .arrow-button .arrow 
{
    -fx-rotate: -90;
}

.titled-pane > *.content 
{
    -fx-background-color: #4c5055;
    -fx-border-width: 0;
    -fx-border-radius: 0 0 0 0;
    -fx-border-color:#4c5055;
    -fx-background-radius: 0 0 20 20;
    -fx-background-insets: 0;
    -fx-padding: 0.167em;
 }

 .titled-pane:collapsed > *.content 
{
    -fx-background-color: #4c5055;
    -fx-border-width: 0;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
    -fx-padding: 0.167em;
 }

.titled-pane:focused > .title > .arrow-button .arrow 
{
    -fx-background-color: white;
    -fx-focus-color: transparent;
}
/*@@author
*/